<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
font-family:Arial;
}

.box{
background:white;
padding:30px;
width:300px;
border-radius:15px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
width:100%;
padding:10px;
background:purple;
color:white;
border:none;
}
</style>
</head>

<body>

<div class="box">
<h2>👟 Login</h2>

<form method="POST">
<input name="username" placeholder="Username">
<input name="password" type="password" placeholder="Password">
<button>Login</button>
</form>

</div>

</body>
</html>